* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.wrapper {
  position: relative;
  /*background-color: darkcyan;*/
  width: 100vw;
  height: 100vh;
  background-size: cover;
  /*background-image: url("./img/13n.jpg");*/
}
.alpha:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.wrapper:after {
  background: rgba(0,0,0, .5);
  z-index: 2;
}
aside {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0;
  width: 30vw;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  gap: 30px;
  backdrop-filter: blur(10px);
  z-index: 33;
}
.aside__block {
  color: white;
  flex-grow: 1;
  cursor: pointer;
  display: flex;
  gap: 20px;
  padding: 10px;
  flex-direction: column;
}
h3 {
  position: relative;
  flex-grow: 1;
}
h3::after {
  position: absolute;
  bottom: 0px;
  left: 0;
  content: "";
  width: 90%;
  height: 2px;
  background-color: #ccc;
}
.daily {
  flex-grow: 15;
  width: 90%;
  display: grid;
  color: #ccc;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.daily__box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 300;
}
.value {
  justify-content: flex-end;
}
.panel {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 70vw;
  height: 30vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 33;
  color: #fff;
}
.currancy {
  display: grid;
  grid-template-columns: 90px 1fr 1fr;
  padding: 0 40px;
  gap: 120px;
  box-sizing: border-box;
}
.panel h2{
  font-weight: 900;
  font-size: 200px;
}
.panelPart {
  font-weight: 400;
  display: flex;
  flex-direction: column;
}
.city {
  font-size: 70px;
}
.time {
  font-size: 30px;
}
.panel__weather{
  align-items: center;
}
.panel__weather img{
  width: 150px;
}
.panel__weather p{
  font-size: 25px;
}
li {
  list-style-type: none;
  color: #cccccc;
  margin: 10px;
  box-sizing: border-box;
  font-weight: 300;
  font-size: 30px;
  padding: 5px;
}
.active {
  border: 1px solid #ccc;
  border-radius: 5px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input {
  width: 400px;
  outline: none;
  font-size: 40px;
  border: none;
  border-bottom: 1px solid #ccc;
  color: #ccc;
  font-weight: 300;
  background-color: rgba(0, 0, 0, .0);
  position: relative;
}
.currancy p {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: #ccc;
  font-size: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}